body{
   margin: 0;
    padding: 0;
}
.div_base{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.formImag{
    display: flex;
    justify-items: center;
    align-items: center;
}
.div_logo{
    width: 100%;
    background-color: darkred;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.img_logo{
    width: 15vw;
    height: 5vh;
    border: 2px solid darkslateblue;
}
.div_search{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: gold;
}
.input_search{
    width: 20vw;
}